DATABASE_URL=your-database-url
AUTH_SECRET=your-auth-secret
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
CLOUDINARY_UPLOAD_PATH=your-cloudinary-upload-path
PORT=3000
